body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.884);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(253, 253, 253);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgba(64, 170, 50, 0.849);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

  .title2{
    text-align: left;
  }

  
  .title3:hover{
    color: blue;
  }


  .ColorClass{
    background-color: rgba(241, 235, 235, 0.781);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
  }


  .ColorClass1:hover{
    color: blue;
  }

  .ColorClass1{
    background-color: white;
  }

  .MyClass1{
    color: white;
    text-align: center;
    text-decoration: black;
    background-color: black;
  }

  .ColorClass2{
    background-color: #0d6efd;
  }

  .ColorClass3{
    color: white;
  }

  .title{
    text-align: center;
  }


  